@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica.woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/helvetica-bold.woff2");
  font-style: normal;
  font-weight: 700;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #5C5C5E;
  scroll-behavior: smooth;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 10px;
}

/* ---------------------------- HEADER ---------------------------- */
.header {
  border-bottom: 1px solid #CACAD6;
  background-color: #F6F4F5;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.menu-btn {
  display: none;
  width: 40px;
  max-height: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-btn span {
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
}
.logo {
  -ms-grid-column-align: center;
      justify-self: center;
}

.basket {
  position: relative;
  -ms-grid-column-align: end;
      justify-self: end;
}

.basket--on span {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  font-size: 11px;
  background-color: #000;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title {
  text-transform: uppercase;
  font-weight: 400;
}

/* ---------------------------- MAIN ---------------------------- */
/* ---------------------------- TOP ---------------------------- */
.top {
  min-height: calc(100vh - 81px);
  background-image: url("../images/top-bg.jpg");
  background-position: center;
  background-size: cover;
  background-position: center;
}
.top__text {
  font-size: 13px;
  margin-bottom: 50px;
}

.title {
  padding-top: 16%;
  font-size: 96px;
  margin-bottom: 10px;
  font-weight: 400;
}

.subtitle {
  font-size: 36px;
  margin-bottom: 5px;
}

.buy-btn {
  cursor: pointer;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  text-transform: uppercase;
  padding: 1px;
}
.buy-btn__text {
  color: #F6F4F5;
  padding: 20px 110px;
  text-transform: uppercase;
}
.buy-btn__price {
  background-color: #E9E7EA;
  padding: 20px 105px;
}

.buy__text {
  padding-top: 6px;
  font-size: 13px;
}

/* ---------------------------- FEATURES ---------------------------- */
.features {
  padding: 100px 0px;
}
.features__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__title {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  padding-right: 20px;
}
.features__text {
  max-width: 330px;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px auto;
  grid-template-columns: 300px auto;
}
.tabs__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.tabs__btn-item {
  font-weight: 700;
  margin-bottom: 20px;
  color: #5C5C5E;
  font-weight: 400;
}
.tabs .tabs__btn-item--active {
  color: #070707;
  font-weight: 700;
}
.tabs__content {
  position: relative;
  min-height: 300px;
}
.tabs__content-item {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 40px 280px;
  grid-template-columns: auto 280px;
  -ms-grid-rows: auto 40px 150px;
  grid-template-rows: auto 150px;
  gap: 40px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tabs__content-item > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.tabs__content-item > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.tabs__content-item > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.tabs__content-item > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.tabs .tabs__content-item--active {
  opacity: 1;
}
.tabs__content-img {
  grid-row: 1/-1;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -o-object-fit: cover;
     object-fit: cover;
}
.tabs__content-box h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 5px;
}

.video {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 280px;
  height: 150px;
  background-image: url("../images/content-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-left: 9px;
  padding-bottom: 10px;
}
.video__btn {
  margin-left: 22px;
}
.video span {
  font-size: 13px;
  line-height: 15px;
  color: #F6F4F5;
}

/* ---------------------------- GAME ---------------------------- */
.game {
  margin-bottom: 100px;
}
.game__title {
  margin-bottom: 50px;
}
.game__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}
.game__descr {
  padding-right: 10px;
}
.game__descr-title {
  margin-bottom: 10px;
  font-size: 36px;
  text-transform: uppercase;
  /* gradient */
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.game__descr-text {
  margin-bottom: 24px;
}
.game__link {
  display: inline-block;
  padding: 16px 0px;
  max-width: 225px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  border: 1px solid;
  -o-border-image: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
     border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  border: 1px solid #BC10D8;
  font-weight: 700;
  text-align: center;
}
.game__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid;
  -o-border-image: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
     border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  padding: 10px 20px 18px;
}
.game__item-img {
  margin-bottom: 10px;
}
.game__item-title {
  font-size: 23px;
  margin-bottom: 10px;
}
.game__item-text {
  margin-bottom: 30px;
}
.game__item-link {
  margin-top: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* ---------------------------- BUY ---------------------------- */
.buy {
  margin-bottom: 110px;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}
.buy__bg {
  position: absolute;
  z-index: -1;
  font-weight: 700;
  font-size: 400px;
  line-height: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: 0.1;
  -webkit-animation: line-text 6s linear 1s infinite;
          animation: line-text 6s linear 1s infinite;
}
.buy__img {
  margin-bottom: 30px;
}

.buy .buy-btn {
  margin: 0 auto;
}
@-webkit-keyframes line-text {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  to {
    -webkit-transform: translateX(-115%);
            transform: translateX(-115%);
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
}
@keyframes line-text {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  to {
    -webkit-transform: translateX(-115%);
            transform: translateX(-115%);
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
}
/* ---------------------------- EQUIPMENT ---------------------------- */
.equipment {
  margin-bottom: 100px;
}
.equipment__title {
  margin-bottom: 50px;
}
.equipment__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 20px 1fr 20px 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: 1fr 20px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.equipment__box > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.equipment__box > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.equipment__box > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.equipment__box > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.equipment__box > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.equipment__box > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.equipment__box-img {
  margin-bottom: 10px;
}
.equipment__box-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.equipment__box-item--one {
  grid-row: 1/-1;
}

/* ---------------------------- PROMO ---------------------------- */
.promo {
  margin-bottom: 100px;
}
.promo__inner {
  background-image: url("../images/promo.jpg");
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  position: relative;
}
.promo__btn {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  border-radius: 50%;
}

/* ---------------------------- ACCESSORIES ---------------------------- */
.accessories {
  margin-bottom: 100px;
}
.accessories__title {
  margin-bottom: 30px;
}
.accessories__text {
  margin-bottom: 30px;
  font-size: 36px;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.accessories__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}
.accessories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border: 1px solid;
  -o-border-image: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
     border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
}
.accessories__item-img {
  margin-bottom: 10px;
}
.accessories__item-title {
  font-size: 24px;
  color: #070707;
  min-height: 67px;
}
.accessories__item-text {
  margin-top: auto;
  margin-bottom: 35px;
}
.accessories__item-price {
  margin-top: auto;
  font-weight: 700;
  line-height: 18px;
  color: #070707;
  margin-bottom: 20px;
}
.accessories__item-btn {
  padding: 6px;
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  border: 1px solid;
  -o-border-image: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
     border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
}

/* ---------------------------- CONTACTS ---------------------------- */
.contacts {
  margin-bottom: 100px;
}
.contacts__title {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 33px;
  color: #070707;
}
.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.contacts__form {
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
}
.contacts__text {
  font-size: 13px;
}
.form {
  margin-bottom: 10px;
  position: relative;
}
.form__input {
  padding: 22px 70px 22px 0px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #CACAD6;
}
.form__input:focus {
  outline: none;
}
.form__input::-moz-placeholder {
  font-size: 13px;
  line-height: 15px;
  color: #CACAD6;
}
.form__input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 15px;
  color: #CACAD6;
}
.form__input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 15px;
  color: #CACAD6;
}
.form__input::-ms-input-placeholder {
  font-size: 13px;
  line-height: 15px;
  color: #CACAD6;
}
.form__input::placeholder {
  font-size: 13px;
  line-height: 15px;
  color: #CACAD6;
}
.form__btn {
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #CACAD6;
  text-transform: uppercase;
  font-weight: 700;
}

/* ---------------------------- FOOTER ---------------------------- */
.footer {
  padding: 30px 0px;
  border-top: 1px solid #CACAD6;
  border-bottom: 1px solid #CACAD6;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: end;
      justify-self: end;
  gap: 20px;
}

/* ---------------------------- ADAPTIVE ---------------------------- */
@media (max-width: 992px) {
  .tabs {
    display: block;
  }
  .tabs__btn {
    margin: 15px 0px;
    display: block;
    -moz-column-count: 2;
         -webkit-column-count: 2;
            column-count: 2;
  }
  .tabs__btn-item {
    display: block;
  }
  .game__inner {
    -ms-grid-columns: 1fr 25px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .accessories__items {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (max-width: 820px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .equipment__box {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .contacts__inner {
    display: block;
  }
  .contacts__form {
    margin-bottom: 20px;
  }
  .menu-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 11;
  }
  .menu {
    position: fixed;
    left: -100%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    background-color: #000;
    width: 100%;
    height: 50%;
    color: #FFF;
    z-index: 10;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .active {
    left: 0%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn.active {
    gap: 0px;
  }
  .menu-btn.active span {
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-btn.active span:nth-child(2) {
    display: none;
  }
  .menu-btn.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 66px;
  }
  .subtitle {
    font-size: 24px;
  }
}
@media (max-width: 640px) {
  .buy-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .top {
    text-align: center;
  }
}
@media (max-width: 568px) {
  .features__titles {
    display: block;
  }
  .tabs__content-item {
    display: block;
  }
  .video {
    margin-top: 20px;
    height: 250px;
    width: auto;
  }
  .game__inner {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .game {
    margin-top: 60%;
  }
  .equipment__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .equipment__box-img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .accessories__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .nav {
    -ms-grid-columns: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
  }
}
@media (max-width: 420px) {
  .title {
    font-size: 48px;
  }
  .subtitle {
    font-size: 20px;
  }
  .tabs__btn {
    -moz-column-count: 1;
         -webkit-column-count: 1;
            column-count: 1;
  }
  .features__text, .accessories__text, .game__descr-title, .equipment__box-title {
    font-size: 28px;
  }
  .buy__bg {
    font-size: 200px;
  }
}
